.menu {
    text-align: center;
    margin: 15px 0;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000;
    font-size: 1.2em;
    width: 250px;
    cursor: pointer;
}